@using DndMassCombat.Models.Simulation
@model DndMassCombat.Models.Simulation.SimulationViewModel
@{
    ViewData["Title"] = "D&D - Group combat";
}
<div class="container">
    <h1 class="text-center">D&D - Group combat</h1>
    <br/>
</div>

@using (Html.BeginForm("Simulate", "Home"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>1st group - unit description</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col form-group">
                @Html.LabelFor(model => model.Group1.Name, new {@class = "col-sm-4"})
                @Html.EditorFor(model => model.Group1.Name, new {@class = "form-control"})
            </div>
        </div>
        
        <div class="row">
            <div class="col form-group">
                @Html.LabelFor(model => model.Group1.HitPoint, new {@class = "col-sm-4"})
                @Html.EditorFor(model => model.Group1.HitPoint, new {@class = "form-control"})
            </div>
        </div>
        
        <div class="row">
            <div class="col form-group">
                @Html.LabelFor(model => model.Group1.ArmorClass, new {@class = "col-sm-4"})
                @Html.EditorFor(model => model.Group1.ArmorClass, new {@class = "form-control"})
            </div>
        </div>
        
        <div class="row">
            <div class="col form-group">
                @Html.LabelFor(model => model.Group1.HitBonus, new {@class = "col-sm-4"})
                @Html.EditorFor(model => model.Group1.HitBonus, new {@class = "form-control"})
            </div>
        </div>
        
        <div class="row">
            <div class="col form-group">
                @Html.LabelFor(model => model.Group1.DamageBonus, new {@class = "col-sm-4"})
                @Html.EditorFor(model => model.Group1.DamageBonus, new {@class = "form-control"})
            </div>
        </div>
        
        <div class="row">
            <div class="col form-group">
                @Html.LabelFor(model => model.Group1.Damage, new {@class = "col-sm-4"})
                <select asp-for="Group1.Damage" asp-items="Html.GetEnumSelectList<Damage>()"></select>
            </div>
        </div>
         <div class="col text-center">
            <input type="submit" class="btn btn-primary text-center" value="Attack 2nd group"/>
        </div>
    </div>
    
    <div class=container>
        <div class="col">
            <h3>2nd group - unit description</h3>
        </div>
        
        <div class="row">
            <div class="col form-group">
                @Html.LabelFor(model => model.Group2.Name, new {@class = "col-sm-4"})
                @Html.EditorFor(model => model.Group2.Name, new {@class = "form-control"})
            </div>
        </div>

        <div class="row">
            <div class="col form-group">
                @Html.LabelFor(model => model.Group2.HitPoint, new {@class = "col-sm-4"})
                @Html.EditorFor(model => model.Group2.HitPoint, new {@class = "form-control"})
            </div>
        </div>

        <div class="row">
            <div class="col form-group">
                @Html.LabelFor(model => model.Group2.ArmorClass, new {@class = "col-sm-4"})
                @Html.EditorFor(model => model.Group2.ArmorClass, new {@class = "form-control"})
            </div>
        </div>

        <div class="row">
            <div class="col form-group">
                @Html.LabelFor(model => model.Group2.HitBonus, new {@class = "col-sm-4"})
                @Html.EditorFor(model => model.Group2.HitBonus, new {@class = "form-control"})
            </div>
        </div>

        <div class="row">
            <div class="col form-group">
                @Html.LabelFor(model => model.Group2.DamageBonus, new {@class = "col-sm-4"})
                @Html.EditorFor(model => model.Group2.DamageBonus, new {@class = "form-control"})
            </div>
        </div>

        <div class="row">
            <div class="col form-group">
                @Html.LabelFor(model => model.Group2.Damage, new {@class = "col-sm-4"})
                <select asp-for="Group1.Damage" asp-items="Html.GetEnumSelectList<Damage>()"></select>
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <input type="submit" class="btn btn-primary text-center" value="Attack 1st group"/>
            </div>
        </div>
    </div>
}